<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="/Users/sanjit.muthineni/opt/homebrew/opt/openjdk/bin/java"
                      arguments="-Dserver.port=3030 -jar &quot;%HOME%\site\wwwroot\savoryAPI-0.0.1-SNAPSHOT.jar&quot;">
        </httpPlatform>
    </system.webServer>
</configuration>