.App {
  text-align: center;
  background-color: #fefae0;
}

.App-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 100%;
  width: 100%;
  padding-bottom: 2vw;
}

#card #header {
  width: 90%;
}

#search {
  margin-right: 3vw;
}


.modal {
  height: 70vh;
  width: 60vw;
  max-width: 800px;
  margin-top: 15vh;
  margin-bottom: 17.5vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 3px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  opacity: 1;
  word-wrap: break-word;
  hyphens: auto;
  overflow: auto;
}

.modal #modal1 {
  margin-left: 3vw;
  margin-right: 10vw;
  width: 52vw;
  max-width: 700px;
  display: flex;
  justify-content: space-between;

}

.modal #author {
  margin-top: -3vh;
  margin-left: 3vw;
  margin-bottom: vh;
  display: flex;
}

.modal img {
  width: 25vw;
  height: fit-content;
  margin-top: 2vh;
  max-width: 300px;
}

.modal ul {
  max-width: 33vw;
}

li {
  margin: 10px 0;
}

.modal ol > li::marker {
  font-weight: bold;
}

.modal #titleIcon {
  display: flex;
  margin-left: 3vw;
  margin-top: 1vh;

}

.modal #steps {
  margin-left: 3vw;
  margin-top: 2vh;
  margin-right: 3vw;
}

.modal #tags {
  list-style-type: none;
  display: flex;
  font-size: small;
  margin-bottom: 1vh;
  padding: 0px;
  margin-top: 15px;
  text-align: center;
  vertical-align: auto;
}

.modal #tags li {
  margin-left: 1vw;
  margin-top: 2px;
  color: #bc6c25;
}