<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
        <!-- Servlet mapping for Tomcat -->
        <add name="JavaServerPages" path="*.jsp" verb="*" modules="IsapiModule" scriptProcessor="C:\path\to\tomcat\bin\isapi_redirect.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
        <!-- Servlet mapping for Spring Boot -->
        <add name="JavaServlet" path="/*" verb="*" modules="IsapiModule" scriptProcessor="C:\path\to\tomcat\bin\isapi_redirect.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
    </handlers>
    <rewrite>
        <!-- URL Rewrite rules -->
        <!-- Add your rewrite rules here -->
    </rewrite>
    <httpErrors errorMode="Detailed" />

    <staticContent>
      <!-- Configure MIME type for WOFF font files -->
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      
      <!-- Configure MIME type for WOFF2 font files -->
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      
      <!-- Add additional MIME mappings for other file types as needed -->
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>