<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

    <staticContent>
      <!-- Configure MIME type for WOFF font files -->
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      
      <!-- Configure MIME type for WOFF2 font files -->
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      
      <!-- Add additional MIME mappings for other file types as needed -->
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>

    <handlers>
        <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="/Users/sanjit.muthineni/opt/homebrew/opt/openjdk/bin/java"
        arguments="-Djava.net.preferIPv4Stack=true -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\savoryAPI-0.0.1-SNAPSHOT.jar&quot;">
    </httpPlatform>

  </system.webServer>
</configuration>